<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
</head>
<body>

<h1>Admin Dashboard</h1>

<ul>

<li>
<a href="/admin/employees">
View Employees
</a>
</li>

<li>
<a href="/logout">
Logout
</a>
</li>

</ul>

</body>
</html>